# Node
node_modules/
.npm/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
build/
dist/
.out/
.next/
.vercel/

# Env
.env
.env.*
.env.local

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
